/* debug css */
/* * {
    outline: 1px solid red;
  } */
#editor { 
    position: absolute;
    left: 0px;
    right: 280px;
    height: 100vh;
    width: 40vw;
    background: white;
}
#editor2 { 
    position: absolute;
    left: 60vw;
    right: 0px;
    height: 100vh;
    width: 40vw;
    background: white;
}
.ace_print-margin {
    /* remove print margin */
    display: none;
}